/* section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@300;400;500&family=Ubuntu:wght@400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #222831;
  font-family: 'Montserrat', sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  padding: 10px;
  border: none;
  background: rgb(255, 68, 0);
  cursor: pointer;
}
.container {
  color: whitesmoke;
  margin: auto;
  padding: 0 19px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #58ecff;
  box-shadow: rgba(0, 217, 255, 0.35) 0px 5px 15px;
  color: black;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #49fdd0;
  border-color: #6f00ff;
}
.text {
  font-size: larger;
  color: black;
}
